<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='src/layouts/base.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://api-maps.yandex.ru/2.0/?load=package.standard&amp;lang=ru-RU&amp;apikey=<dda3ddba-c9ea-4ead-9010-f43fbc15c6e3>"
            type="text/javascript"></script>
    <script src="{{ url_for('static', filename='geolocation_ip.js') }}"></script>
</head>
<body class="app-root">
{% if not hide_header %}
<header class="app-header">
    <div class="app-header__container">
        <a class="app-header__brand" href="/intereses">NEXUS</a>
        <nav class="app-header__nav">
            <a class="btn-primary" href="/chat">Чат</a>
            <a class="btn-primary" href="/profile">Профиль</a>
        </nav>
    </div>
</header>
{% endif %}

<main role="main" class="app-main">
    {% block content %}{% endblock %}
</main>
<footer></footer>
</body>
</html>